:root {
  --open-sans: "Open Sans", sans-serif;
  --Nunito-sans: "Nunito Sans", sans-serif;

  --accent-light: #fbb731;
  --accent-dark: #f37335;
  --dark: #443737;
  --light: #fff;
}

body {
  font-family: var(--open-sans);
}

.contanier {
  width: 100%;
  max-width: 1192px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  align-items: center;
		gap: 196px;
}

.logo {
  display: block;
  width: 176px;
  height: 56px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav{
	flex-grow: 1;
	display: flex;
	gap: 46px;
}

.nav-link {
	color: var(--dark);
	text-decoration: none;
}
