:root {
  --open-sans: "Open Sans", sans-serif;
  --Nunito-sans: "Nunito Sans", sans-serif;

  --accent-light: #fbb731;
  --accent-dark: #f37335;
  --dark: #443737;
  --light: #fff;
}

body {
  font-family: var(--open-sans);
}

.contanier {
  width: 100%;
  max-width: 1192px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  align-items: center;
  gap: 196px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.logo {
  display: block;
  width: 176px;
  height: 56px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  flex-grow: 1;
  display: flex;
  gap: 46px;
}

.nav-link {
  color: var(--dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  border-radius: 1.5px;
  margin-top: 1px;
}

.nav-link:hover::after {
  background-color: var(--accent-light);
}

.cart {
  color: var(--accent-dark);
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

.cart::before {
  content: "";
  display: block;
  width: 30px;
  height: 26px;
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
